@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  
}
.rk{
 width: 500px;
}
.rb{
  margin-left: 650px;
  position: fixed;
  right: 10px;
  height: 750px;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: auto;
}
.button {
/* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.btn-success{
  background-color: #4CAF50; /* Green */
}
.btn-danger{
  background-color: red;
}
.btn-secondary{
  background-color: gray;
}
.gras{
  font-weight: bold;
}
.center{
  text-align: center;
}